 html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	overflow-x: hidden;
}
body{
	 background: linear-gradient( -45deg, #00533C, #FCF000);
}

.buttonContainer{
	height: 75%;
	overflow-y: auto;
}

.orderContainer{
	height: 75%;
	overflow-y: auto;
	background-color: RGBa(255,255,255,.5)
}

.navigation{
	position: absolute;
	bottom: 150px;
	width: 100%
}

.navigation .btn{
	height:50px;
}

.navigation #back{
	width: 125px;
	position: absolute;
	left: 150px;
}

.navigation #cancel{
	width: 100px;
	position: absolute;
	right: 225px;
}

.navigation #order{
	width: 100px;
	position: absolute;
	right: 375px;
}

.number{
	width: 10%;
	text-align: right;
	padding: 5px;
	font-weight:bold;
}

.name{
	width: 70%
}

.price{
	width: 50px;
}

.hidden{
	display: none;
}

section{
	width: 150px;
	height: 150px;
}
